/* @font-face {
  font-family: 'halis_rextralight';
  src: url('halisr-extralight-webfont.woff2') format('woff2'),
    url('halisr-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'halis_r_regularregular';
  src: url('halisr-regular-webfont.woff2') format('woff2'),
    url('halisr-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'halis_r_regularregular';
  user-select: none;
}
